@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

:root {
  --primary-color: #007bff;
  --secondary-color: #6e757d;
  --background-dark-color: #10121a;
  --border-color: #2e344e;
  --background-light-color: #f1f1f1;
  --white-color: #fff;
  --font-light-color: #a4acc4;
  --font-dark-color: #313131;
  --font-dark-color-2: #151515;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background-color: var(--font-dark-color-2);
  color: var(--font-light-color);
}

a {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  list-style: none;
  text-decoration: none;
}
